<p>
    <strong>Workout Name</strong>
    <%= @workout.workout %>
</p>
<p>
    <strong>Description</strong>
    <%= @workout.description %>
</p>
<p>
    <strong>Workout Name</strong>
    <%= @workout.datepicker %>
</p>
<%= link_to 'Workout Page ', workouts_path %>