<h1>Our Team</h1>
<p style = "color:black; font-size:150%">
    Cameron Blount<br>
    Styllez Ferguson<br>
    Cory Rooker<br>
    Josh Welborn<br>
    
</p>

<%= link_to 'Home Page ', welcome_index_url %>