<h1>About#index</h1>

<p style = "color:white">
    This application is designed to help its users keep a <br>
    record of all workouts done in the past, including: the name of the workout,<br>
    a small description, and also the date of the workout. <br>
    We designed this application with the hopes that it could streamline the workout<br>
    process for those who frequent the gym and so that it could help<br>
    any newcomers not be intimidated by all that their local gym has to offer.<br>
    <br>
    <br>
    Using the application is very simple. In order to begin,<br>
    click the "Create a new workout" link on the homescreen.<br>
    From there, the app will take you to the "New Workout" page.<br>
    There, all that you do is fill in the type of workout, give it<br>
    a small description and also fill in the date of the workout.<br>
    Once you have entered the information and wish to proceed,<br>
    click the "Save Workout" button. After the button is clicked,<br>
    it will show you all of the information you entered so you can<br>
    verify it is correct. Then, you may create another workout by using<br>
    the "Add another workout" link, or you could go to either the home screen<br>
    or the page that lists all of your workouts by using the "Home Page" and<br>
    "Workouts Page" links, respectively.<br>
</p>

<p>Find me in app/views/about/index.html.erb</p>

