// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body {
    background: image-url('bg.jpg') center center no-repeat;
    height: 100%;
    background-size:cover;
}

#logo img {
    margin: 0 auto !important;
    padding-top: 20px;
    width: 30%;
}

#intro p {
    color: white;
    text-align: center;
    font-family: 'Just Another Hand', cursive;
    font-size:1.8em;
}

p {
   color: Gray;
}