// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body {
    background: image-url('bg.jpg') center center no-repeat;
    height: 100%;
    background-size:cover;
}